<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>MagicWallet.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>047837831EF8C57D00C23A96</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>0478379C1EF8C57E00C23A96</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>047837A71EF8C57E00C23A96</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
